[{:db/id "datomic.tx" :db/txInstant #inst "2010-01-01"}

 {:db/ident :file/md5
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :file/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many
  :db/index true}

 {:db/ident :meta/source
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A ref back to a file from an entity."}]