[{:db/id "datomic.tx" :db/txInstant #inst "2010-01-01"}
 {:db/ident :subscription/name
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :subscription/fields
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/many}]